<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
</head>
<body>
  <h1 class="text-center">Cadastro</h1>
  <hr />
  <div class="container border p-2" style="width: 400px">
    <% if (erro) { %>
      <div class="error">
        <p class="alert alert-danger">
          <%= erro %> 
        </p>
      </div>
    <% } %>
    <form method="post" name="form-cadastro">
      <div class="form-group">
        <label for="username">Nome de Usuário</label>
        <input type="text" name="nome_usuario" id="username" minlength="3" class="form-control" >
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" name="senha" id="password" minlength="8" class="form-control" />
      </div>
      <div class="form-group">
        <label for="repeat-password">Repita a senha</label>
        <input type="password" name="repetir_senha" id="repeat-password" minlength="8" class="form-control" />
      </div>
      <button class="btn btn-primary mx-auto d-block">Cadastrar</button>
    </form>
  </div>

  <script>
    (function () {
      const form = document.forms['form-cadastro']
      const divContainer = document.querySelector('div.container')

      function validarDados(event) {
        const nome_usuario = document.querySelector('#username').value
        const senha = document.querySelector('#password').value
        const repetir_senha = document.querySelector('#repeat-password').value

        let erros = []

        const regex = /^[a-zA-Z0-9]{3,50}$/
        if (!nome_usuario.match(regex)) {
          erros.push('O nome de usuário deve conter apenas letras e números')
        }

        if (nome_usuario.length < 3) {
          erros.push('O nome de usuário deve ter no mínimo 3 carácteres')
        }

        if (repetir_senha.length !== senha.length && repetir_senha !== senha) {
          erros.push('As senhas não coincidem')
        }

        if (senha.length < 8 && repetir_senha.length !== 8) {
          erros.push('A senha deve ter no mínimo 8 carácteres')
        }
        
        if (erros.length > 0) {
          event.preventDefault()

          const doc =  new DocumentFragment()
          let divErro = document.querySelector('div.error')

          if (!divErro) {
            divErro = document.createElement('div')
          }
          
          divErro.innerHTML = ''
          divErro.classList.add('error')

          erros.forEach(erro => {
            const pElement = document.createElement('p')
            pElement.classList.add('alert', 'alert-danger')
            pElement.appendChild(document.createTextNode(erro))
            divErro.appendChild(pElement)
          })

          doc.appendChild(divErro)
          divContainer.prepend(doc)
        }
      }

      form.addEventListener('submit', validarDados)
    })()
  </script>
</body>
</html>